/* Importando a fonte */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');

/* Resetando o css*/

html, body, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, b, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* DEFININDO A COR CINZA DE FUNDO PARA TODAS AS PAGINAS */
body{
    background-color: var(--fundo-cinza-claro);
}

.btn-secao{
    border: 1px solid var(--titulo-laranja);/* grossura da borda, tipo da borda, cor */
    border-radius: 100px;
    background-color: transparent;
    width: 10%;
    height: 36px;
    color: var(--titulo-laranja);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.btn-secao:hover{
    background-color: var(--titulo-laranja);
    color: var(--titulo-branco);
    cursor: pointer;
}










/* VARIAVEIS GLOBAIS */
:root{
    --titulo-laranja:#FF914D;
    --titulo-azul-ciano:#10BEE0;
    --fundo-cinza-claro:#F2F2F2;
    --titulo-cinza-escuro:#707070;
    --titulo-branco:#ffffff;
    --titulo-preto:black;
    --sub-cinza: #545962;
}