.secao1{
    padding-bottom: 32px;
    padding-top: 32px;
    text-align: center;
}

.titulo-secao{
    color: var(--titulo-laranja);/* chamando a cor da variavel global, para facilitar na hora de procurar a # da cor */
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    padding-bottom: 16px;
}

/* CARDS DA HOME */
.card-container {
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    flex-wrap: wrap;
  }
  
  .card {
    border-radius: 30px;
    padding: 20px 0;
    width: 30%; /* Ajuste conforme necessário */
    box-sizing: border-box;
  }

  .secao2{
    padding-bottom: 32px;
    padding-top: 32px;
    text-align: center;
}
  




