.img-sobrenos img{ /* alterar as configurações da imagem central*/
    width: 590px; /* largura */
    margin-top: 10%; /* distancia da parte superior  */
    margin-bottom: 5px; /*distancia da parte inferior*/
    border-radius: 30px; /* borda arredondada */
    margin-left: -15px; /* distancia da esquerda */
    align-self: center; /* deixar centralizado */
  }

  .container{ /* configurações da caixa de texto, imagem */
    display:flex; /*deixa flexível */
    align-items: center; /*coloca os elementos no centro */
    margin-left: 80px; /* distancia da esquerda */
    margin-right: 50px; /* distancia da direita */
    height: 100vh; /* tamanho da tela 100% */ 
  }

  .container p{  /* texto */
    margin-left: 50px; /* distancia da esquerda */
    margin-right: 30px; /* distancia da direita */
    font-size: 28px; /* tamanho da fonte */
    margin-top: 200px;  /*distancia parte superior */
    margin-bottom: 200px; /* distancia da parte inferior */
    text-align: center; /* deixar texto centralizado */
    font-family: 'Open Sans', sans-serif; /* estilo da fonte */
  }

  span{ /* modificar apenas uma palavra */
    display: inline; /*deixa na mesma linha */
    color: var(--titulo-azul-ciano); /*cor da letra */
    font-size: 38px; /* tamanho da fonte */
  }


  @media screen and (max-width:1024px){/* modificações para quando a tela for menor que 1024px */ 

  .img-sobrenos img{ /* alterar as configurações da imagem central*/
    width: 0px; /* largura */
  }

 .container p{  /* texto */
   margin-top: 10px; /* distancia da parte superior */
   margin-bottom: 15px; /* distancia da parte inferior */
   font-size: 17px; /*tamanho da fonte*/
   margin-left: -50px; /* distancia da esquerda */
   margin-right: -15px; /* distancia da direita */
  }

  span{
    font-size: 30px; /* tamanho da fonte */
  }
}


 
  







 






 