.footer-container {
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 100px;
    padding-left: 10%;
    padding-right: 10%;

  }

  .footer-container, .text-footer{
    display: flex;
    align-self: center;
  }

  .botões{
    display: flex;
    margin-bottom:10px;
  }


  .btn-icon-footer{
    FLEX-DIRECTION: ROW;
    display: flex;
  }