/* HEADER DA HOME */
.header-home{
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 100px;
    padding-left: 10%;
    padding-right: 10%;
}

/* IMAGEM DENTRO DO HEADER DA HOME */
.logo{
    padding-top: 20px;
    object-fit: contain;
    width: 200px;
    height: 70px;
}

nav, ul, li, a{
    list-style: none;
    padding-left: 5px;/* ESPAÇAMENTO DE UM ELEMENTO LI A OUTRO */
    display: flex;
    align-self: center;
    
}

/* COR DA LETRA DA PÁGINA HOME */
.header-home nav ul li a {
    color: var(--titulo-laranja);/* chamando a cor da variavel global, para facilitar na hora de procurar a # da cor */
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-decoration: none;
}
/* QUANDO O USUARIO PASSAR O MOUSE EM CIMA DAS OPÇÕES DO HEADER, FICARA AZUL-CIANO */
.header-home nav ul li a:hover{
    color: var(--titulo-azul-ciano);
}
/* QUANDO O USUARIO PASSAR O CLICAR EM ALGUMA DAS OPÇÕES DO HEADER, FICARA CINZA-ESCURO */
.header-home nav ul li a:active {
    color: var(--titulo-cinza-escuro);
}